{% extends "base.html" %}

{% block content %}
<div class="container">
  <!-- <p class="title is-4">Lista de status de chamado, notificações e alertas</p>
  <hr /> -->

  <div class="table-container">
    <table id="example" class="table is-striped" style="width:100%">
      <thead>
        <div class="buttons">
          <a class="button is-link is-outlined"href="{{ url_for('ticket.open_ticket') }}"> 
            <i class="fa-solid fa-ticket"></i> &nbsp; novo ticket</a>
        </div>
        <tr>
          <th>N: OS</th>
          <th style="text-align: center;">CLIENTE</th>
          <th style="text-align: center;">DESCRIÇÃO</th>
          <th style="text-align: center;">RESPONSÁVEL</th>
          <th style="text-align: center;">ABERTURA</th>
          <th style="text-align: center;">STATUS</th>
        </tr>
      </thead>
      <tbody>
        
        {% if tickets|length <= 0 %}
          <div class="notification is-warning">
           Nenhum registro encontrado <strong>cadastre um novo ticket</strong>
          </div>            
        {% endif %}

        {% for ticket in tickets %}
        <tr style="background-color: {{ticket.status.color}}; color: #FFFF;">
          <!--  error safe -->
          <td>{{ticket.ticket_number}}</td>
          <td style="text-align: center;">{{ticket.client.company_name | upper}}</td>
          <td style="text-align: center;">{{ticket.description|truncate(30)}}</td>
          <td style="text-align: center;">{{ticket.user.user_name or '------'}}</td>
          <td style="text-align: center;">{{ticket.created_at.strftime('%d/%m/%Y - %H:%M')}}</td>
          <td style="text-align: center;">{{ticket.status.name | upper}}</td>
        </tr>
        <tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

</div>
</div>
{% endblock content %}