{% extends "base.html" %}

{% block link_css %}
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock %}


{% block content %}
<form class="box" method="POST" action="/ticket">

      <!-- <div class="columns is-desktop">
            <div class="column">
                  <p class="title is-5">Novo ticket</p>
            </div>
      </div>

      <hr /> -->

      <div class="columns is-desktop is-mobile">
            <div class="column">
                  <div class="field">
                        <label class="label">Numero Chamado</label>
                        <div class="control">
                              <input class="input" type="number" placeholder="9999" name="ticket_number" min="1"
                                    required="required">
                        </div>
                  </div>
            </div>
            <div class="column">
                  <div class="field">
                        <label class="label">Cliente</label>
                        <div class="control">
                              <input id='company_name' class="input" type="text" placeholder="Nome Exemplo" name="company_name"
                                    required="required" value="">
                        </div>

                  </div>
            </div>
            <div class="column">
                  <div class="field">
                        <label class="label">Status</label>
                        <div class="control has-icons-left">
                              <div class="select">
                                    <select name="status_ticket" required="required">
                                          {% for item in status %}
                                                <option id="{{item.id}}" value="{{item.id}}">{{item.name}}</option>
                                          {% endfor %}
                                    </select>
                              </div>
                              <div class="icon is-small is-left">
                                    <i class="fa-solid fa-plus"></i>
                              </div> 
                        </div>
                  </div>
            </div>
      </div>

      <div class="columns is-desktop is-mobile">
            <div class="column">
                  <div class="field">
                        <input id="switch_repeat_ticket_day" type="checkbox" name="switch_repeat_ticket_day"
                              class="switch is-rounded" onclick="switch_repeat_ticket();">
                        <label for="switch_repeat_ticket_day">Repetir por (Dia)</label>
                  </div>
                  <input id="repeat_ticket_day" class="input" type="number" value="0" name="repeat_ticket_day" min="0">
            </div>
      </div>


      <div class="columns is-desktop is-mobile">
            <div class="column">
                  <div class="field">
                        <label class="label">Descrição</label>
                        <div class="control">
                              <textarea minlength="5" maxlength="250" required="required" name="description" class="textarea"
                                    placeholder="Exemplo descricao do problema..."></textarea>
                        </div>
                  </div>
            </div>
      </div>

      <button type="submit" class="button is-primary is-outlined"><i class="fa-solid fa-floppy-disk"></i> &nbsp; salvar</button>
</form>

<script type="text/javascript" src="../static/js/switch_repeat_ticket_day.js"></script>
{% endblock content %}


{% block link_js %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
      $(function() {
        var company_name = {{clients|safe}}; // error safe
        $("#company_name").autocomplete({
          source: company_name
        });
      });// error safe
</script>
{% endblock %}

