{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4" id="div-login-page">
        <h3 class="title"  style="text-align: center;">Login</h3>
    <div class="box">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}


        <form method="POST" action="/login">
            <div class="field">
                <label class="label">Usuario</label>
                <div class="control">
                    <input name="user_name" class="input is-defualt" type="text" placeholder="nome_usuario" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input is-defualt" name="password" type="password" placeholder="********">
                </div>
            </div>

            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Lembrar-me
                </label>
            </div>
            <div style="text-align: center;">
                <button class="button is-primary is-outlined"><i class="fa-solid fa-earth-americas"> &nbsp; </i>conectar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}