{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}


        <form method="POST" action="/login">
            <div class="field">
                <label class="label">Nome de usuario</label>
                <div class="control">
                    <input name="user_name" class="input" type="text" placeholder="nome_usuario" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" name="password" type="password" placeholder="********">
                </div>
            </div>

            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Lembrar-me
                </label>
            </div>

            <button class="button is-primary">Entrar</button>
        </form>
    </div>
</div>
{% endblock %}