{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Vá para <a href="{{ url_for('auth.login') }}">página de login</a>.
            </div>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/signup">
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input name="email" class="input" type="email" placeholder="tecprint@example.com"  autofocus="">
              </div>
            </div>

            <div class="field">
              <label class="label">Nome</label>
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="Nome" autofocus="">
                </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" name="password" type="password" placeholder="********">
              </div>
            </div>
            <button class="button is-primary">Conectar-se</button>
        </form>
    </div>
</div>
{% endblock %}