{% extends "base.html" %}

{% block content %}
<form class="box" method="POST" action="/service">

      <div class="columns is-desktop is-mobile">
            <div class="column">
                  <div class="field">
                        <label class="label">Numero Chamado</label>
                        <div class="control">
                              <input class="input" type="number" placeholder="9999" name="ticket_number">
                        </div>
                  </div>
            </div>
            <div class="column">
                  <div class="field">
                        <label class="label">Cliente</label>
                        <div class="control">
                              <input class="input" type="text" placeholder="Nome Exemplo" name="name_customer">
                        </div>
                  </div>
            </div>
            <div class="column">
                  <div class="field">
                        <label class="label">Status</label>
                        <div class="control has-icons-left">
                              <div class="select">
                                    <select name="status_ticket">
                                          <option value="1" selected>novo chamado</option>
                                    </select>
                              </div>
                              <div class="icon is-small is-left">
                                    <i class="fa-solid fa-plus"></i>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <div class="columns is-desktop is-mobile">
            <div class="column">
                  <div class="field">
                        <label class="label">Descrição</label>
                        <div class="control">
                              <textarea name="description" class="textarea"
                                    placeholder="Exemplo descricao do problema..."></textarea>
                        </div>
                  </div>
            </div>
      </div>

      <button class="button is-primary">salvar</button>
</form>
{% endblock content %}