<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEC _SYSTEMAS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="static/css/bulma-switch.min.css" />

    {% block link_css %}
    {% endblock %}

</head>

<body>
    <section>
        <div class="hero is-primary is-widescreen">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-start teste">
                            {% if current_user.is_authenticated %}
                            <h6 class="navbar-item">Bem vindo, {{current_user.name | lower}}</h6>
                            {% endif %}
                        </div>

                        <div class="navbar-end">


                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('ticket.open_ticket') }}" title="Novo chamado" class="navbar-item">
                                ticket
                            </a>

                            <a href="{{ url_for('main.profile') }}" title="Configurações" class="navbar-item">
                                profile
                            </a>


                            {% endif %}

                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" title="Login" class="navbar-item">
                                Login
                            </a>
                            {% endif %}

                            <!-- {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.signup') }}" title="Cadastrar-se" class="navbar-item">
                                <i class="fa-solid fa-user-plus" title="Cadastrar-se"></i>
                            </a>
                            {% endif %} -->
                            <a href="{{ url_for('main.index') }}" class="navbar-item" title="Home">
                                home
                            </a>

                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" title="Sair" class="navbar-item"
                                style="margin-left: 60px !important;">
                                sair
                            </a>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <div class="container is-widescreen" style="margin-top:10px;">
        {% block content %}
        {% endblock %}
    </div>



        {% block link_js %}
        {% endblock %}
</body>

</html>