<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEC _SYSTEMAS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="static/css/bulma-switch.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />

    {% block link_css %}
    {% endblock %}

</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: rgb(223, 243, 212);">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('main.index') }}">
                LOGO
                <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ url_for('main.index') }}" class="navbar-item">
                    Home
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        configurações
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ url_for('main.profile') }}">
                            usuario
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{{ url_for('status.status_list') }}">
                            status
                        </a>
                    </div>
                </div>
                <a class="navbar-item" href="{{ url_for('ticket.ticket_list') }}" title="Novo chamado">
                    chamados
                </a>


            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('auth.login') }}" title="Login" class="button is-primary is-outlined">
                            Login
                        </a>
                        {% endif %}

                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" title="Sair" class="button is-info is-outlined">
                            sair
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="container is-widescreen" style="margin-top:10px;">
        {% block content %}
        {% endblock %}
    </div>


    {% block link_js %}
    {% endblock %}
    <script src="static/js/close-notification-bulma.js"></script>
    <script src="static/js/timeout-div-alert.js"></script>
</body>

</html>